*{
  margin: 0;
  padding: 0;

}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.leaflet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 400px;
  margin: auto;
}

.layout{
  background-color:   'red';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


